Django==5.1.11
asgiref==3.8.1
sqlparse==0.5.3
pytz==2024.1

djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
django-cors-headers==4.7.0
PyJWT==2.9.0

psycopg2-binary==2.9.10

python-dotenv==1.0.1

daphne==4.1.0

channels==4.1.0
channels-redis==4.1.0