.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 1rem;
    background-color: #1a1146;
    box-sizing: border-box;
}

.left {
  flex-shrink: 0;
  margin-right: 10rem;
}

.right {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.button {
    background-color: #5c4b63;
    padding: 0.5rem 0.5rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
}