.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body {
  display: flex;
  flex: 1;
  height: 100%;
}

.sidebar {
  width: 10%;
  background-color: #5c4b63;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}